
<div class="d-flex" id="wrapper">
<%= render 'shared/navbar' if session[:log] == 1%>

 <div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5 animated fadeInUp">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Edit Profile Information</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
            <%= f.text_field :first_name,
            class: "form-control", 
            placeholder: "First Name",
            id: "First Name",
            required: false %>
        </div>    
      </div>    

            
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"></span> 
      <%= f.text_field :last_name,
      class: 'form-control', 
      placeholder: "Last Name",
      required: false %>
    </div>
  </div>

  <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"></span>  
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: 'form-control', 
          placeholder: "Email Address",
          required: false %>
      </div>
    </div>  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <%= f.password_field :password, 
        class: 'form-control', 
        placeholder: "New Password",
        required: false %>
      </div>
    </div>  

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"></i></span>
      <%= f.password_field :password_confirmation, 
      class: 'form-control', 
      placeholder: "Confirm New Password",
      required: false%>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"></span>
    <%= f.password_field :current_password, class: 'form-control', 
      placeholder: "Current Password",
      required: false%>
    </div>
  </div>

  <%= f.submit "Update Account", class:"btn btn-primary btn-block btn-lg" %>
<% end %>

<h3>Delete Account</h3>

<p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure? This will permanently erase your account and all your properties. This is irreversible" }, method: :delete, class:"btn btn-primary btn-block btn-lg" %></p>



</div>
