<link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Roboto+Condensed|Source+Serif+Pro" rel="stylesheet">

<body class="dashboard_body">
    
    <div class="side_nav_bar">
        <div class="menu">
            <div class="account_thumbnail">
                <div class="thumbnail_image">
                    <%= image_tag("astronaut-edited.gif",:width=>"100%", :class=>"img")%>
                </div>
                <%# need to replace with actual user name %>
                <%# <h2> Your Name </h2>  %>
                <h2>
                <% if(!@user.nil?) %>
                 <%= @user.first_name %> <%= @user.last_name %> 
                <% end%>
                </h2>
                <%# <%= link_to user. %>
                <h3> Homeowner </h3>
            </div>
            <ul class="menu_options">
                <li class="icon-dashboard"><span>
                <%= form_for(:anything, url: '/dash', method: :get) do |f| %>
                    <%= f.submit "Dashboard",class: "btn btn-dash"%>
                <% end %>
                </span></li>

                <li tabindex="0" class="icon-contacts"><span>
                <%= form_for(:anything, url: '/contacts_page', method: :get) do |f| %>
                    <%= f.submit "Contact",class: "btn btn-dash" %>
                <% end %>
                </span></li>

                <li class="icon-payment"><span>
                <%= form_for(:anything, url: '/payment_page', method: :get) do |f| %>
                    <%= f.submit "Payment",class: "btn btn-dash" %>
                <% end %>
                </span></li>

                <li class="icon-orders"><span>
                <%= form_for(:anything, url: '/orders_page', method: :get) do |f| %>
                    <%= f.submit "Order", class: "btn btn-dash" %>
                <% end %>
                </span></li>

                <li class="icon-profile"><span>
                <%= form_for(:anything, url: '/profile_page', method: :get) do |f| %>
                    <%= f.submit "Profile", class: "btn btn-dash" %>
                <% end %>
                </span></li>
            </ul>
        </div>
    </div> 
    <!--End Sidebar-->
    <div class="main_dashboard">
        <table class="table">
            <tr class="table_head">
              <th>Address</th>
              <th>Tenant</th>
              <th>Frequency</th>
            </tr>
            <% @property.each do |property| %>
                <tr class="table_row">
                    <td><%= property.address %></td>
                    <td><%= property.tenant_name %></td>
                    <td><%= property.frequency %></td>
                </tr>
            <% end %>
        </table>
    </div>

</body>