                        <%@property = Property.find_by(id: params[:id])%>
                        <%= form_for(@property, url: property_path(@property), method: :put) do |f| %>
    					<h1>Edit Property </h1>
						<%= f.text_field :prop_name, class: "form-control", placeholder: "Property Name", required: true%> 
						<%= f.text_field :tenant_name, class: "form-control", placeholder: "Tenant Name", required: true%> 
						<%= f.text_field :tenant_email, class: "form-control", placeholder: "Tenant Email", required: true%> 
						<%= f.text_field :address, class: "form-control", placeholder: "Property Address", required: true%> 
						<%= f.text_field :frequency, class: "form-control", placeholder: "Order Frequency", required: true%>
						
						<%= f.hidden_field :id, value: Property.find_by(id: params[:id]).id%>
						<%= f.submit "Save Changes", class: "btn btn-primary btn-block btn-lg" %>
						<% end %>