<style>
</style>
<body>
    <div class="content-container">
        <div class="header">
            <h1> This is the Admin Page </h1>
        </div>
        <div class="table-content">
            <table class="table table-striped table-hover">
                <thead>
                    <tr> 
                        <th>Address</th>
						<th>User</th>
						<th>Tenant Name</th>
                        <th>Subcription Start Date</th>
                        <th>Delivery Frequency</th>
						<th>Last Sent</th>
						<th>Last Delivered</th>
						<th>Filter Size</th>
						<th>Filter Quantity</th>
						<th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% @all_orders.each do |order| %>
                        <tr>
                            <%if(Property.find_by(id: order.property))%>
                                <% user = User.find_by(id: Property.find_by(id: order.property).user) %>
                            <% end %>
                            <td><p><%= order.shipping_address %></p></td>
                            <td>
                                <%if(user) %>
                                    <p>
                                       <%= user.first_name %> 
                                       <%= user.last_name %> 
                                    </p>
                                <%end%>
                            </td>
                            <td>
                                <%= order.tenant_name.to_s%>
                            </td>
                            <td>
                                <%= order.start_date%>
                            </td>
                            <td>
                                <%= order.filter_freq %>
                            </td>
                            <td>
                                <%= order.sent_date%>
                            </td>
                            <td>
                                <%= order.delivered_date %>
                            </td>
                            <% small_keys = [] %>
                            <% keys = order.attributes.keys%>
                            <% keys.each do |subs| %>
                                <% if subs.include? "size" %>
                                    <% small_keys.push subs %>
                                <%end%>
                            <% end %>
                            <td>
                                <% small_keys.each do |key|%>
                                    <% if(order.attributes[key]) %>
                                        <%= session[:sizes][key]%>
                                        <br>
                                    <% end %>
                                <% end %>
                            </td>
                            <td>
                                <% small_keys.each do |key|%>
                                    <% if(order.attributes[key]) %>
                                        <%= order.attributes[key] %>
                                        <br>
                                    <% end %>
                                <% end %>
                            </td>
                            <td>
                                <% small_keys.each do |key|%>
                                    <% if(order.attributes[key]) %>
                                        <%= session[:price_hash][key]*order.attributes[key] %>
                                        <br>
                                    <% end %>
                                <% end %>
                            </td>
                            <td>
                                <%= "Canceled?: #{order.canceled}"%>
                            </td>
                            <td>
                               <%= link_to '<i class="material-icons" style="font-size:25px;color:#28a745;padding-right:10px">edit fields</i>'.html_safe, edit_order_path(order), method: :get, class: "float-left" %> 
                            </td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
        </div>
        <%= link_to "Log Out",destroy_user_session_path, method: :delete %>
    </div>
</body>
